body {
    width: 100vw;
    height: 100vh;
    display: grid;
    place-items: center;
    background-color: #242424 ;
    box-sizing: border-box;
    overflow: hidden;
}
.canva {
    background-color: whitesmoke;
}